
/*** 

====================================================================
	Main color
====================================================================

 ***/

nav.main-navigation .navbar-nav a:hover, nav.main-navigation .navbar-nav a.active,
.header-1 h3,
.about-me .info span,
.about-me .subtitle,
.about-me .download-resume i,
.about-me .li-social-links i,
.service-box-one .icon-box,
.fact-box .icon-box,
.service-box-one .inner-box strong,
.testimonials .testimonial-item .quote-icon,
.testimonials .slick-prev, .testimonials .slick-next{
    color: #fb0333 
}
.header-1 .has-line:after,
.more-btn,
.about-me .li-social-links a:hover,
.has-line-center::after, 
.has-line::after,
.portfolio .gallery nav.gallery-nav button:hover,
.interest .interest-box .item,
.testimonials .slick-prev:hover, .testimonials .slick-next:hover
{
    background: #fb0333;
}
nav.main-navigation .navbar-nav a:hover, nav.main-navigation .navbar-nav a.active,
.more-btn:hover,
.fact-box .inner,
.fact-box .inner:before,
.fact-box .inner:after,
.portfolio .gallery nav.gallery-nav li,
.testimonials-style-two .testimonial-item .author-thumb img,
.interest .interest-box .item,
.testimonials .slick-prev, .testimonials .slick-next,
.contact-form form input[type="text"], 
.contact-form form textarea,
.contact-form form .more-btn:hover{
    border-color: #fb0333
}
.about-me .li-social-links a:hover i{
    color: #fff
}
.contact-form form .more-btn{
    background: #fb0333 !important
}


.has-gradient {
    background-image: -webkit-linear-gradient(to right, #94969e, #fb0333);
    background-image: -webkit-gradient(linear, left top, left bottom, from(to right), color-stop(#94969e), to(#fb0333));
    background-image: linear-gradient(to right, #94969e, #fb0333);
    color: #fff
}


nav.main-navigation .navbar-nav .btn:hover {
    background: transparent !important;
    color: #333;
}